{{extend 'layout.html'}}
<style>

.w2p_fw {
  margin-right: 4px;
}

#submit_record__row {
  display: inline-block;
}

#t_mtsearch_f_query__row {
  display: inline-block;
  width: 600px;
}

#t_mtsearch_f_query {
  padding: 3px;
}

</style>

<h1>Oarstack metrics</h1>

<p>Enter your YouTube URL below.</p>

{{=form}}


<a href="//www.iubenda.com/privacy-policy/8278148" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>