{{extend 'layout.html'}}
<style>

.w2p_fw {
  margin-right: 4px;
}

#submit_record__row {
  display: inline-block;
}

#t_mtsearch_f_query__row {
  display: inline-block;
  width: 600px;
}

#t_mtsearch_f_query {
  padding: 3px;
}

</style>

<h1>Oarstack metrics</h1>

<p>Enter your YouTube URL below.</p>

{{=form}}

<hr/>
{{if not auth.user:}}

Log in to preserve your data:
{{=LOAD('load', 'login.load', ajax=False, ajax_trap=True, args=['login'])}}

Or {{=A('Sign Up', _href=URL('user', 'register'))}} with an email address.
{{else:}}
You are logged in as {{=XML(auth.user.first_name, sanitize=True)}} {{=XML(auth.user.last_name, sanitize=True)}}.
{{pass}}
