
<link rel="stylesheet" href="{{=URL('static','css/c3.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/handsontable.full.css')}}"/>

<link rel="stylesheet" href="{{=URL('static','css/mt/metricbase.css')}}"/>

<script src="{{=URL('static', 'js/underscore.js')}}"></script>
<script src="{{=URL('static', 'js/backbone.js')}}"></script>
<script src="{{=URL('static', 'js/backbone-mediator.js')}}"></script>
<script src="{{=URL('static', 'js/d3.js')}}"> charset="utf-8"</script>
<script src="{{=URL('static', 'js/c3.js')}}"></script>
<script src="{{=URL('static', 'js/handsontable.full.js')}}"></script>

<script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
<script>Raven.config('https://e110f05c77f5426cae068a0fff1ea5bd@sentry.io/214361').install();</script>

<script src="{{=URL('static', 'mtjs/mtglobal.js')}}"></script>
<script src="{{=URL('static', 'mtjs/mtlog.js')}}"></script>
<script src="{{=URL('static', 'mtjs/mtutil.js')}}"></script>
<script src="{{=URL('static', 'mtjs/mtsupport.js')}}"></script>
<script src="{{=URL('static', 'mtjs/mtbbmodel.js')}}"></script>
<script src="{{=URL('static', 'mtjs/mttable.js')}}"></script>
