

<link rel="stylesheet" href="{{=URL('static','css/normalize.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/ion.rangeSlider.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/ion.rangeSlider.skinMetric.css')}}"/>

<script src="{{=URL('static', 'js/ion.rangeSlider.js')}}"></script>
<script src="{{=URL('static', 'mtjs/mtcontrol.js')}}"></script>
<script src="{{=URL('static', 'mtjs/mtcontrolbar.js')}}"></script>

{{


def mt_control_title(property_name, heading, subheading):
    content = [
        DIV("%s " % heading, _class="mt_control_heading"),
        DIV(subheading, _class="mt_control_subheading")
    ]

    return SPAN(*content, _class="mt_control_banner mt_control_banner_%s" % property_name)


def write_mt_control_title(property_name, heading, subheading):
    response.write(mt_control_title(property_name, heading, subheading))
    pass


def write_mt_control_bar(mode):
    content = []
    if mode == 'edit':
        content.append(BUTTON("Save", _class="control_bar_button control_bar_button_left control_bar_button_save"))
        content.append(BUTTON("Discard Changes", _class="control_bar_button control_bar_button_left control_bar_button_discard"))
    elif mode == 'view':
        content.append(BUTTON("Duplicate and Edit", _class="control_bar_button control_bar_button_left control_bar_button_duplicate"))
        if requester_can_write:
            content.append(BUTTON("Edit", _class="control_bar_button control_bar_button_left control_bar_button_edit"))
        pass
    else:
        content.append("Improper mode, please reload")
    pass

    response.write(DIV(content))

    pass # Terminates function


def write_mt_control_interval(id):
    style = "width:640px;"
    parent_style = "border: solid; border-color: #fff;"



    def __single_control(property_name):
        prefix = "slider%d_%s" % (id, property_name)
        content = TABLE(
            TR(TD(INPUT(_id='%s_coarse' % prefix, _type='text', _value="Loading..."), _style=style)),
            TR(TD(INPUT(_id='%s_fine' % prefix, _type='text', _value="Loading..."), _style=style), _id='%s_fine_row' % prefix),
            _id='%s_container' % prefix, _style=parent_style)
        return content

    response.write(TABLE(
        TR(TD(mt_control_title('start_time', 'Start time', 'Adjust to show blades halfway into the water at the catch, using the coarse and fine adjusters'))),
        TR(TD(__single_control('start_time'))),
        TR(TD(mt_control_title('end_time', 'End time', 'Adjust to show blades halfway into the water for a subsequent stroke'))),
        TR(TD(__single_control('end_time'))),
        TR(TD(mt_control_title('num_events', 'Number of strokes', 'Adjust to the number of strokes between the start and end times above'))),
        TR(TD(__single_control('num_events'))),
        TR(TD(mt_control_title('rate', 'Rate', 'This will calculate itself, or you can drag it to change the end time to match the rate'))),
        TR(TD(__single_control('rate')))
    ))
    pass
}}
