
{{extend 'layout.html'}}
{{include 'metricbase.html'}}
{{include 'metricytbase.html'}}
{{include 'metriccontrolbase.html'}}


<script type="text/javascript"><!--
player = new MtYouTubePlayer();
function onYouTubeIframeAPIReady() {
    player.create(0, '{{=item_row.f_alien_key}}', true);
}
//->></script>

<table>
<tr><td><div id="player0_select_player">Loading...</div></td></tr>
<tr><td><div id="player0_select_caption">Loading...</div></td></tr>
</table>

{{ write_mt_control_interval(0) }}

<script>
    interval = new MtControlInterval();
    $(function () {
        interval.create(0, 600);
    });
</script>

<div id="intervaltable0"></div>
<div id="paramtable0"></div>

<script>
var datasetId = {{=XML(dataset_id)}};
var paramCollection = new MtParamCollection(null, {datasetId: datasetId, mtId: 0});
var intervalCollection = new MtIntervalCollection(null, {datasetId: datasetId, mtId: 0, mtParamProvider: paramCollection});
var intervalTable = new MtIntervalTable();
var paramTable = new MtParamTable();

$(function () {
    paramTable.create(0, paramCollection);
    intervalTable.create(0, intervalCollection);
    paramCollection.makeDefault();
    intervalCollection.loadInitial();
    $('#mt-sync-info').text('Data loaded');
});

function MtController() {
    this.doSave = function() {
        $('#mt-sync-info').text('Saving...');
        intervalCollection.saveAll();
        $('#mt-sync-info').text('All changes saved');
    }
};

pageController = new MtController();

</script>

<div onclick="pageController.doSave();">{{=BUTTON("Save")}}</div>
<div id="mt-sync-info">Loading...</div>
<hr/>

<div onclick="player.doPause()">{{=BUTTON("Pause")}}</div>
<div onclick="player.doSeek(10)">{{=BUTTON("Seek")}}</div>
<div onclick="player.doNudge(-0.1)">{{=BUTTON("Nudge")}}</div>
<div onclick="player.doNudge(12)">{{=BUTTON("Big Nudge")}}</div>
<div onclick="player.setSize(1280, 720)">{{=BUTTON("Bigger")}}</div>
<div onclick="player.setSize(640, 360)">{{=BUTTON("Smaller")}}</div>

End.
