
{{extend 'layout.html'}}
{{include 'metricbase.html'}}
{{include 'metricytbase.html'}}
{{include 'metriccontrolbase.html'}}
{{include 'metricchartbase.html'}}
{{include 'metrictablebase.html'}}


<script type="text/javascript"><!--

var gdata = new MtGlobal();
gdata.create("{{=gdata_served_jb64}}");

var stateManager = new MtStateManager();
stateManager.create(gdata, 0);

//->></script>

{{ write_mt_control_bar(mode) }}

<script>
    controlbar = new MtControlBar();
    $(function () {
        controlbar.create(gdata, null, stateManager);
    });
</script>

<table>
<tr><td><div id="player0_select_playerparent"><div id="player0_select_player">Loading...</div></div></td></tr>
<tr><td><div id="player0_select_caption">Loading...</div></td></tr>
</table>

{{
if mode == 'edit':
    write_mt_control_interval(0)
}}
<script>
    interval = new MtControlInterval();
    $(function () {
        interval.create(0, 600);
    });
</script>
{{
pass
}}


{{
write_mt_control_title('interval_table', 'Intervals', 'Each row calculates the rate for one time interval, supporting copy, paste and right-click.  '
    'You can build up one row per stroke, or rows for groups of strokes.')
}}
{{
write_mt_interval_table_bar(mode)
}}
<div id="intervaltable0"></div>
{{
write_mt_control_title('chart', 'Rate chart', 'A graph of stroke rate over time')
}}
<div id="chart0_rate"></div>
{{
write_mt_control_title('param_table', 'Parameters', 'Values for this particular video')
}}
<div id="paramtable0"></div>
{{
write_mt_control_title('session_table', 'Session parameters', 'Values for this particular browser session')
}}
<div id="sessiontable0"></div>

<script>

var datasetId = {{=XML(dataset_id)}};
var paramCollection = new MtParamCollection(null, {datasetId: datasetId, gdata: gdata, mtId: 0});
var sessionCollection = new MtSessionCollection(null, {datasetId: datasetId, gdata: gdata, mtId: 0});
var intervalCollection = new MtIntervalCollection(null, {datasetId: datasetId, gdata: gdata, mtId: 0, mtParamProvider: paramCollection});
var intervalTable = new MtIntervalTable();
var paramTable = new MtParamTable();
var sessionTable = new MtSessionTable();
var chartRate = new MtChart();
var youTubeHandler = new MtYouTubeHandler();
var mtCallback = new MtCallback();

var player = new MtYouTubePlayer();
function onYouTubeIframeAPIReady() {
    player.create(0, '{{=alien_key}}', true);
}

$(function () {
    youTubeHandler.create(gdata);
    mtCallback.create(gdata, youTubeHandler);
    paramTable.create(0, paramCollection);
    sessionTable.create(0, sessionCollection);
    intervalTable.create(gdata, 0, intervalCollection);
    chartRate.create(gdata, 0, intervalCollection);
    stateManager.addSaveable(intervalCollection);
    stateManager.addSaveable(paramCollection);
    stateManager.addSaveable(sessionCollection);

    var loadIntervalJob = intervalCollection.loadInitial();
    var loadParamJob = paramCollection.loadInitial();
    var loadSessionJob = sessionCollection.loadInitial();
    $.when(loadIntervalJob, loadParamJob, loadSessionJob).done(function () {
        intervalCollection.recalculateAll({originator: 'fetch'});
    });
});

</script>

{{=LOAD('load', 'ytinfo', ajax=True, args=[alien_key])}}

{{=HR()}}
End.
{{=HR()}}

<script>
// Asynchronous load of YouTube player
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script>
