
{{extend 'layout.html'}}
{{include 'metricbase.html'}}
{{include 'metricytbase.html'}}
{{include 'metriccontrolbase.html'}}
{{include 'metricchartbase.html'}}


<script type="text/javascript"><!--

var gdata = new MtGlobal();
gdata.create("{{=gdata_served_jb64}}");

var stateManager = new MtStateManager();
stateManager.create(gdata, 0);

player = new MtYouTubePlayer();
function onYouTubeIframeAPIReady() {
    player.create(0, '{{=item_row.f_alien_key}}', true);
}
//->></script>

{{ write_mt_control_bar(mode) }}

<script>
    controlbar = new MtControlBar();
    $(function () {
        controlbar.create(gdata, null, stateManager);
    });
</script>

<table>
<tr><td><div id="player0_select_playerparent"><div id="player0_select_player">Loading...</div></div></td></tr>
<tr><td><div id="player0_select_caption">Loading...</div></td></tr>
</table>

{{
if mode == 'edit':
    write_mt_control_interval(0)
}}
<script>
    interval = new MtControlInterval();
    $(function () {
        interval.create(0, 600);
    });
</script>
{{
pass
}}



<div id="intervaltable0"></div>
<div id="chart0_rate"></div>
<div id="paramtable0"></div>

<script>
var datasetId = {{=XML(dataset_id)}};
var paramCollection = new MtParamCollection(null, {datasetId: datasetId, mtId: 0});
var intervalCollection = new MtIntervalCollection(null, {datasetId: datasetId, gdata: gdata, mtId: 0, mtParamProvider: paramCollection});
var intervalTable = new MtIntervalTable();
var paramTable = new MtParamTable();
var chartRate = new MtChart();

$(function () {
    paramTable.create(0, paramCollection);
    intervalTable.create(gdata, 0, intervalCollection);
    chartRate.create(gdata, 0, intervalCollection);
    stateManager.addSaveable(intervalCollection);
    stateManager.addSaveable(paramCollection);

    var loadIntervalJob = intervalCollection.loadInitial();
    var loadParamJob = paramCollection.loadInitial();
    $.when(loadIntervalJob, loadParamJob).done(function () {
        intervalCollection.recalculateAll({originator: 'fetch'});
    });

});

</script>

End.


